@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    background-color: rgb(12, 12, 12);
}

.top-nav{
    height: 60vh;
    width: 100%;
    background: rgb(46, 31, 36);
    background: url(./assets/vertical_cloth.png);
}

.navbar-brand > img{
    max-width: 70px;
    position: relative;
}

a.nav-link{
    color: white!important;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}


.hero{
    height: 60vh;
    margin-top: -3rem;
}
.hero h1{
    padding-bottom: 1rem;
}
.hero .col{
    background-color: rgb(178, 243, 239);
    position: relative;
    height: 65vh;
}

.hero p{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    padding-bottom: 1rem;
}

.sec-content{
    margin: 3rem 0;
    position:relative;
    
}
.sec-content > span > img{
    padding: 3rem 1.2rem;
    width:110px;
}

.skills{
    color: black;
    font: 5rem;
    margin-top: 10rem;
    position: relative;
}

.sec-content span{
    position: relative;
    top: 1rem;
    animation: move 8s infinite ease-in-out; 
}

@keyframes move {
0%,
25% {
    transform: translateX(0%);
    left: 0%;
}
75%,
100% {
    transform: translateX(100%);
    left: 100%;
}

}

.project{
    height: 70vh;
    width: 100%;
    background: rgb(26, 16, 19);
    background: url(./assets/vertical_cloth.png);
}


.footer{
    color:aqua;
    padding: 0.5rem;
    /* background: rgb(19, 16, 17); */
}

.footer h4{
    text-transform: uppercase;
    text-decoration: underline 3px;
    text-underline-offset: 10px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    
}

.footer i{
    padding: 2rem 1rem;
    padding-bottom: 1rem;
    /* color: white; */
    color: aqua;
}

.footer p{
    background-color: rgb(26, 26, 24);
    padding: 1rem;
    /* padding-bottom: 0; */
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}


